* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif
}

main {
    height: 90vh;
}

.flex {
    display: flex;
}

.float-left {
    float: left;
}

.column {
    flex-direction: column;
} 

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: #7b7d82;
}

li {
    list-style: none;
}
/* fine common */

/* main nav*/
nav {
    height: 100%;
    width: 20%;
    background-color: black;
    justify-content: space-between;
}

.nav-top {
    margin: 20px 0;
}

.nav-top li {
    padding-left: 20px;
}

.logo {
    padding-left: 20px;
    padding-top: 20px;
}

.logo img {
    height: 40px;
    object-fit: cover;
}

#home {
    border-left: 4px solid #adff2f;
}

.nav-top #home a {
    color: white;
}

.nav-top ul li img {
    height: 25px;
}

.nav-center h3 {
    color: white;
    margin-bottom: 10px;
}

.nav-center {
    padding-left: 20px;
}

.nav-center .plus {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    background-color: #a3a3a3;
    margin-right: 5px;
    color: black;
}

.nav-center li {
    padding: 5px 0;
}

.nav-bottom {
    margin-bottom: 10px;
    padding-left: 20px;
}

.nav-bottom .install-app img{
    height: 15px;
    margin-right: 5px;
}

.nav-bottom .user img{
    height: 25px;
    margin-right: 5px ;
}

.profile-pic{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-bottom hr {
    width: 90%;
    margin: 6px 0;
}

.user span {
    font-weight: bold;
    color: white;
}
/* fine main nav */

/* main container */
.container {
    height: 100%;
    width: 80%;
}

.container {
    background-color: #141922;
}

.top-main {
    height: 80px;
    width: 80%;
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

.upgrade{
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
}

.main-nav {
    margin-top: 90px;
    justify-content: center;
}

.main-nav > ul {
    width: 60%;
    justify-content: space-around;
}

/* fine main container */

/* footer */
footer {
    height: 10vh;
    background-color: #282828;
}
/* fine footer */

/* debug */
.debug .logo {
    background-color: brown;
}

.debug .nav-top {
    background-color: yellow;
}

.debug .nav-center {
    background-color: blue;
}

.debug .nav-bottom {
    background-color: red;
}

.debug .container {
    background-color: lightcoral;
}

.debug > footer {
    background-color: lightskyblue;
}