* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

main {
    height: calc(100% - 90px);
}

.flex {
    display: flex;
}

.float-left {
    float: left;
}

.column {
    flex-direction: column;
} 

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: #7b7d82;
}

li {
    list-style: none;
}

h2,
h3 {
    color: white;
}
/* fine common */

/* main nav*/
nav {
    height: 100%;
    width: 230px;
    background-color: black;
    justify-content: space-between;
}

.nav-top {
    margin: 20px 0;
}

.nav-top #home {
    padding-left: 16px;
}

.nav-top li {
    padding-left: 20px;
}

.logo {
    padding-left: 20px;
    padding-top: 20px;
}

.logo img {
    height: 40px;
    object-fit: cover;
}

#home {
    border-left: 4px solid #adff2f;
}

.nav-top #home a {
    color: white;
}

.nav-top li {
    line-height: 18px;
    padding-bottom: 5px;
}

.nav-top ul li img {
    height: 25px;
    vertical-align: middle;
}

.nav-center h3 {
    margin-bottom: 10px;
}

.nav-center {
    padding-left: 20px;
}

.nav-center > a > div {
    line-height: 35px;
}

.nav-center span {
    vertical-align: middle;
}

.nav-center .plus {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    background-color: #a3a3a3;
    margin-right: 5px;
    color: black;
}

.nav-center li {
    padding: 5px 0;
}

.nav-bottom {
    margin-bottom: 10px;
    padding-left: 20px;
}

.nav-bottom .install-app img{
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.nav-bottom .user img{
    height: 25px;
    margin-right: 5px ;
}

.profile-pic{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-bottom hr {
    width: 90%;
    margin: 6px 0;
}

.user span {
    font-weight: bold;
    color: white;
}
/* fine main nav */

/* main container */
.container {
    height: 100%;
    width: calc(100% - 230px);
    overflow-y: hidden;
}

.container {
    background-color: #141922;
}

.top-main {
    height: 80px;
    width: calc(100% - 230px);
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

.upgrade{
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
}

.main-nav {
    margin-top: 90px;
    justify-content: center;
}

.main-nav > ul {
    width: 60%;
    justify-content: space-around;
}

.song-img {
    height: 250px;
}

/* fine main container */

/* footer left*/
footer {
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
}

.footer-left {
    height: 100%;
    width: 230px;
    align-items: center;
    justify-content: space-around;
}

.footer-left h5 {
    color: white;
}

.footer-left span,
.footer-left i {
    color: #808080;
}

.footer-left span {
    font-size: 12px;
}

.footer-song img {
    height: 50px;
}

.footer-left-song {
    width: 60%;
    align-items: center;
    justify-content: space-around;
}
/* fine footer left*/
/* footer center */
.footer-center {
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.footer-center-top {
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

#play {
    font-size: 30px;
}

.footer-center i,
.footer-center span {
    color: white;
}

.progression {
    width: 100%;
    align-items: center;
}

.footer-center .progression-bar,
.footer-right .progression-bar {
    width: 80%;
    min-width: 150px;
    height: 4px;
    background-color: #808080;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.loading {
    width: 20%;
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.progression-bar:hover .loading {
    background-color: #adff2f;
}

.circle {
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: white;
}

.progression-bar:hover .circle {
    display: block;
}

#time0 {
    padding-right: 30px;
}

#time4 {
    padding-left: 30px;
}
/* fine footer center */
/* footer right */
.footer-right {
    width: 230px;
    align-items: center;
}

.footer-right i {
    color: #808080;
    padding-right: 8px;
}
/* fine footer right */
/* debug */
.debug .logo {
    background-color: brown;
}

.debug .nav-top {
    background-color: yellow;
}

.debug .nav-center {
    background-color: blue;
}

.debug .nav-bottom {
    background-color: red;
}

.debug .container {
    background-color: lightcoral;
}

.debug > footer {
    background-color: lightskyblue;
}