* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif
}

main {
    height: 90vh;
}

.flex {
    display: flex;
}

.float-left {
    float: left;
}

.column {
    flex-direction: column;
} 

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* fine common */

/* main nav*/
nav {
    height: 100%;
    width: 20%;
    background-color: black;
    justify-content: space-between;
}

.menu-top,
.nav-bottom {
    padding-top: 20px;
    padding-left: 20px;
}

.nav-top {
    margin: 20px 0;
}

.logo img {
    height: 40px;
    object-fit: cover;
}

#home {
    color: white;
}

.menu-top a,
.nav-bottom a {
    text-decoration: none;
    color: gray;
}

.menu-top ul li,
.nav-bottom ul li {
    list-style: none;
}

.nav-top ul li img {
    height: 25px;
}

.nav-center h3 {
    color: white;
    margin-bottom: 10px;
}

.nav-center .plus {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    background-color: gray;
    margin-right: 5px;
    color: black;
}

.nav-bottom {
    margin-bottom: 10px;
}

.nav-bottom .install-app img{
    height: 15px;
    margin-right: 5px;
}

.nav-bottom .user img{
    height: 25px;
    margin-right: 5px ;
}

.profile-pic{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-bottom hr {
    width: 90%;
    margin: 6px 0;
}

.user span {
    font-weight: bold;
    color: white;
}
/* fine main nav */

/* main container */
.container {
    height: 100%;
    width: 80%;
}
/* fine main container */

/* footer */
footer {
    height: 10vh;
}
/* fine footer */

/* debug */
.debug .logo {
    background-color: brown;
}

.debug .nav-top {
    background-color: yellow;
}

.debug .nav-center {
    background-color: blue;
}

.debug .nav-bottom {
    background-color: red;
}

.debug .container {
    background-color: lightcoral;
}

.debug > footer {
    background-color: lightskyblue;
}